 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashBoard</title>
 
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    
 </head>
 <body>
       
      <div>

           <h3> Submit Your Today Work To Head</h3>
         <form action="/submitwork" method="post" onsubmit="submitwork(event)">
            <label for="projectName">Project Name</label>
            <input type="text" name="projectName" id="projectName" required>
            <label for="date">Date</label>
            <input type="date" name="date" id="date" required>
            <label for="dec">Work</label>
            <input type="text" name="Work" id="work" required>

            <button type="submit"> submit</button>
         </form>
      </div>

  
       </p>
      </div>

      <script>
          async  function submitwork() {
        
              const projectName = document.getElementById('projectName').value;
              const date = document.getElementById('date').value;
              const work = document.getElementById('work').value;
              const token =  localStorage.getItem('token');
      
                           
   
   
         await axios.post('http://localhost:4000/submitwork',{projectName,date,work},{headers:{"Authorization":token}})
         .then((result) => {
         window.location.replace('/workSubmitted');
            
         }).catch((err) => {
              console.log(err)
         });
              

           }
            
         
      </script>
 </body>
 </html>